<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form" id="product">
            <div class="layui-form-item">
                <label for="username" class="layui-form-label">
                    <span class="x-red">*</span>Name</label>
                <div class="layui-input-inline">
                    <input type="text" id="title" value="{$animal_info['name']}" name="name" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="username" class="layui-form-label">
                    <span class="x-red">*</span>Animal_type</label>
                <div class="layui-input-inline">
                    <select name="animal_type" class="valid" lay-filter="one_cate">
                        {volist name="animal_type" id="vo"}
                        <option value="{$key}" {if condition="$key eq $animal_info['animal_type']"}selected{/if}>{$vo}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="username" class="layui-form-label">
                    <span class="x-red">*</span>Birth</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$animal_info['birth']}" class="layui-input" id="test1-1" name="birth" placeholder="yyyy-MM-dd">
                </div>
            </div>
            <div class="layui-form-item">
                <label  class="layui-form-label">
                    <span class="x-red">*</span>Images
                </label>
                <button type="button" class="layui-btn" id="test1">
                    <i class="layui-icon">&#xe67c;</i>upload Image(280 * 150)
                </button>
                <div style="width:280px;padding-left:115px;padding-top:20px;">
                    <img  id="image"   width="280px" height="150px" src="/{$animal_info['images']}">
                    <input type="hidden" name="images" class="images" />
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">availability</label>
                <div class="layui-input-block">
                    <textarea placeholder="" class="layui-textarea" name="avail">{$animal_info['avail']}</textarea>
                </div>
            </div>
            <!--<div class="layui-form-item">-->
                <!--<label  class="layui-form-label">-->
                    <!--<span class="x-red">*</span>Desc-->
                <!--</label>-->
                <!--<div class="layui-input-block">-->
                    <!--<textarea id="demo" style="display: none;" name="descs" lay-verify="pattern" >{$animal_info['descs']}</textarea>-->
                <!--</div>-->
            <!--</div>-->
            <input type="hidden" name="id" value="{$animal_info['id']}"/>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label"></label>
                <a class="layui-btn" lay-filter="add" lay-submit="">Submit</a></div>
        </form>
    </div>
</div>
<script src="__PUBLIC__/lib/layui/layui.js"></script>
<script>
    layui.use('upload', function(){
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            ,url: "/admin/comapi/upImage" //上传接口
            ,method:'post'
            ,done: function(res){

                //上传完毕回调
                if(res.status==1){
                    layer.msg(res.msg);
                    var str = '/'+res.savePath
                    $("#image").attr("src",str);
                    $("#image").val(res.savePath);
                    $(".images").val(res.savePath);
                }

            }
            ,error: function(){
                //请求异常回调
                layer.msg('上传失败');
            }
        });
    });

    layui.use(['layedit','layer','laydate','form'], function(){
        var layedit = layui.layedit;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var form = layui.form;
        laydate.render({
            elem: '#test1-1'
            ,lang: 'en'
        });
        layedit.set({
            uploadImage: {
                url: '/admin/comapi/upImage' //接口url
                ,type: 'post', //默认post
                success:function(res){
                    console.log(res);
                }
            }
        });

        var index=layedit.build('demo'); //建立编辑器

        //监听提交
        form.on('submit(add)', function(data){
            //发异步，把数据提交给php
            $.ajax({
                url:"/admin/animal/edit",
                data:$("#product").serialize(),//传递到处理页面的值，也是JSON数据，要用{}。如果传2个值就在{}里面加逗号，再写另外1个值。
                type:"POST",
                dataType:"json",
                success:function(data){
                    if(data.status === 200){
                        layer.alert(data.msg);
                        setTimeout(function(){
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                            window.parent.location.reload();
                        },2000);
                    }else{
                        layer.alert(data.msg);
                    }

                },
            });
        });
    });

</script>

</body>

</html>