<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">Home page</a>
        <a href="">user</a>
        <a>
          <cite>user list</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="Refresh">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <table class="layui-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>account number</th>
            <th>actual name</th>
            <th>Profession</th>
            <th>mailbox</th>
            <th>motto</th>
            <th>operating</th></tr>
        </thead>
        <tbody>
        {volist name="user" id="ulist"}
        <tr>
            <td>{$ulist.user_id}</td>
            <td>{$ulist.username}</td>
            <td>{$ulist.real_name}</td>
            <td>{$ulist.profes}</td>
            <td>{$ulist.email}</td>
            <td>{$ulist.motto}</td>
            <td class="td-manage">
                <a onclick="x_admin_show('Modify information','/admin/user/edit?id={$ulist.user_id}',600,400)" title="修改信息" href="javascript:;">
                    <i class="layui-icon">&#xe631;</i>
                </a>
                <a title="delete" onclick="member_del(this,'{$ulist.user_id}')" href="javascript:;">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>

</div>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //Execute a laydate instance
        laydate.render({
            elem: '#start' //Designated element
        });

        //Execute a laydate instance
        laydate.render({
            elem: '#end' //Designated element
        });
    });



    /*User-delete*/
    function member_del(obj,id){
        layer.confirm('Are you sure you want to delete？',function(index){
            $.ajax({
                url:"{:url('admin/user/delete')}",
                data:{id:id},//The value passed to the processing page is also JSON data, so {} is used. If you pass 2 values, add a comma in {} and write another value.
                type:"POST",
                dataType:"json",
                success:function(data){
                    if(data.code==200){
                        //Send and delete data asynchronously
                        $(obj).parents("tr").remove();
                        layer.msg('deleted!',{icon:1,time:1000});
                    }

                },
            });

        });
    }


</script>

</body>

</html>