<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">用户</a>
        <a>
          <cite>用户列表</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <table class="layui-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>账号</th>
            <th>真实姓名</th>
            <th>职业</th>
            <th>邮箱</th>
            <th>座右铭</th>
            <th>操作</th></tr>
        </thead>
        <tbody>
        {volist name="user" id="ulist"}
        <tr>
            <td>{$ulist.user_id}</td>
            <td>{$ulist.username}</td>
            <td>{$ulist.real_name}</td>
            <td>{$ulist.profes}</td>
            <td>{$ulist.email}</td>
            <td>{$ulist.motto}</td>
            <td class="td-manage">
                <a onclick="x_admin_show('修改信息','/admin/user/edit?id={$ulist.user_id}',600,400)" title="修改信息" href="javascript:;">
                    <i class="layui-icon">&#xe631;</i>
                </a>
                <a title="删除" onclick="member_del(this,'{$ulist.user_id}')" href="javascript:;">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>

</div>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });



    /*用户-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                url:"{:url('admin/user/delete')}",
                data:{id:id},//传递到处理页面的值，也是JSON数据，要用{}。如果传2个值就在{}里面加逗号，再写另外1个值。
                type:"POST",
                dataType:"json",
                success:function(data){
                    if(data.code==200){
                        //发异步删除数据
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                    }

                },
            });

        });
    }


</script>

</body>

</html>